
<head>
  <title>Serach form</title>
  <!-- <link rel="stylesheet" type="text/css" href="search.css"> -->
</head>
<body>
  
      <!-- div class="wrapper">
          <div class="logo">
              <img src="" alt="search-job">
              
          </div>
          <ul class="nav-area">
              <li><a href="#">Find Job</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">Find Salaries</a></li>
              <li><a href="#">Upload Resume</a></li>
              <li><a href="#">Employee Post J</a></li>
              <li><a href="#">Sign In</a></li>
          </ul>
          
      </div>
   -->
  <div class="header">
      <form #userForm="ngForm">
          <h1>Job Search</h1>
          <div class="form-box">
             <input type="text" class="search-job category" name=" category" placeholder="search by category..." ngModel> &bnsp

             <input type="text" class="search-job location" name=" category" placeholder="search by location..." ngModel> &bnsp

             <button class="search-btn" type="button">Search</button>
          </div>
          
      </form>
  </div>

</body>
