<div class="filter">

<button class="btn btn-outline-dark btn-lg">Sort By Date</button> &nbsp; &nbsp; 
<span class="salary_text"> Minimum Salary: </span> &nbsp;

<select class="btn btn-outline-dark btn-lg">
    <option value="20,000">20,000 +</option>
    <option value="30,000 + ">30,000 + </option>
    <option value="40,000 +">40,000 +</option>
    <option value="50,000 +">50,000 +</option>
    <option value="75,000 +">75,000 +</option>
    <option value="100,000 +">100,000 +</option>
  </select>

</div>


